@{
  ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"].</h1>
<div>
  <p>
    Thank you for confirming your email. Please
    <a asp-action="Login"
       asp-controller="Login">Click here to Log in</a>.
  </p>
</div>
