@using AspNetMartenHtmxVsa.Components.NavigationItemTagHelper
@using Tailwind.Heroicons
@{ Layout = "ThreeColumnFullWidthLayout"; }

@{
  var getPaymentTermsLink = Url.Action("GetPaymentTerms", "GetPaymentTerms");
  var getDeliveryTermsLink = Url.Action("GetDeliveryTerms", "GetDeliveryTerms");
  var setSubscriptionAddressLink = Url.Action("SetSubscriptionAddress", "SetSubscriptionAddress");
  var getUsersLink = Url.Action("GetUsers", "GetUsers");
  var items = new List<NavigationItem>
  {
    new(
      "Zahlungsbedingungen",
      getPaymentTermsLink!,
      null,
      new[] { getPaymentTermsLink! },
      IconSymbol.CreditCard
    ),
    new(
      "Lieferbedingungen",
      getDeliveryTermsLink!,
      null,
      new[] { getDeliveryTermsLink! },
      IconSymbol.GlobeAlt
    ),
    new(
      "Unternehmen",
      "/settings/organization",
      null,
      new[] { "/settings/organization" },
      IconSymbol.BuildingOffice2
    ),
    new(
      "Account",
      setSubscriptionAddressLink!,
      null,
      new[] { setSubscriptionAddressLink! },
      IconSymbol.CurrencyEuro
    ),
    new(
      "Benutzer",
      getUsersLink!,
      null,
      new[] { getUsersLink! },
      IconSymbol.Users
    )
  };
}

@section SecondaryColumn {
  <aside class="px-6 pb-4 pt-6">
    <nav hx-boost="true">
      @foreach (var item in items)
      {
        <navigation-item item="item"></navigation-item>
      }
    </nav>
  </aside>
}

@RenderBody()
