@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="text-2xl text-gray-900">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
