@model string

<div class="mt-6 sm:mt-2 2xl:mt-5">
  <div class="border-b border-gray-200">
    <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
      <nav aria-label="Tabs"
           class="-mb-px flex space-x-8">
        @Html.Raw(Model)
      </nav>
    </div>
  </div>
</div>
