@page
@model LogoutModel
@{
  ViewData["Title"] = "Log out";
}

<header>
  <h1>@ViewData["Title"]</h1>
  @{
    var returnUri = new Uri(@Url.ActionLink("GetHome", "GetHome")).PathAndQuery;
  }
  @{
    if (User.Identity?.IsAuthenticated ?? false)
    {
      <form asp-area="Identity"
            asp-page="/Account/Logout"
            asp-route-returnUrl="@returnUri"
            class="form-inline"
            method="post">
        <button class="nav-link btn btn-link text-dark"
                type="submit">Click here to Logout</button>
      </form>
    }
    else
    {
      <p>You have successfully logged out of the application.</p>
    }
  }
</header>
